﻿<!DOCTYPE html>
<html ng-app="gumbootApp">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Construct</title>

    <link rel="stylesheet" href="css/angular-material.min.css">
    <link href="css/foundation.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

  </head>

  <body ng-controller="appCtrl" class="{{changeBg}} accel" md-swipe-right="onSwipeRight()" md-swipe-left="onSwipeLeft()">
    <div id="header-nav">
        <span class="controls">
            <md-button aria-label="menu-button" class="menu-button" ng-click="toggleRight()">Menu</md-button>
            <div class="loader" ng-show="loading"><img width="60px" src="images/preloader.gif" alt=""/></div>
            <md-button aria-label="back-button" class="back-button" ng-show="isPage" onclick="navigator.app.backHistory()">Back</md-button>
            <md-button aria-label="exit-button" class="back-button" ng-show="isHome" onclick="navigator.app.exitApp();">Exit</md-button>
        </span>
    </div>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2 accel" md-component-id="left">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">{{currentUser[0].name}}</h1>
            <span>Current Site: {{currentUser[0].currentSite}}</span>
        </md-toolbar>
        <md-content ng-controller="SideNavCtrl">
            <md-list id="main-menu">
                <md-item ng-repeat="item in items">
                    <md-button aria-label="{{item.name}}" ng-click="listItemClick($index)" class="{{item.class}}">
                        <span class="icon"></span>
                        <span class="md-inline-list-icon-label">{{ item.name }}</span>
                    </md-button>
                </md-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <div id="ViewStates" class="accel" ng-view></div>

    <!-- angularjs js -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/material/hammer.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
	<script src="js/angular/angular-route.min.js"></script>
	<script src="js/angular/angular-sanitize.js"></script>
    <script src="js/angular/angular-aria.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="js/material/angular-material.min.js"></script>
    <script src="js/directives/directives.js"></script>
      <script src="js/app.js"></script>
    <script src="js/services/api.js"></script>
	
	<!-- Controllers -->
	<script src="js/controllers/initCtrl.js"></script>
	<script src="js/controllers/plantCtrl.js"></script>
	<script src="js/controllers/dieselCtrl.js"></script>
	<script src="js/controllers/captureTimeCtrl.js"></script>
	<script src="js/controllers/settingsCtrl.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

  </body>
</html>
